{% extends "base.html" %}


{% block title %}
Todo List
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_object %}
                    <tr>
                        <td>
                            <a href="{% url "todo_list_detail" id=todo.id %}">{{ todo.name }}</a>
                        </td>
                        <td>{{todo.items.count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
